
html {
  width:100%;
  height:100%;
}

body {
  font-family:Arial, Helvetica, Sans-serif;
  font-size:14px;
  line-height:1.5;
  font-weight:400px;
  color:black;
}


.photo_item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  min-width:33%;
  float:left;
}


.image-file{
	
  width:90px;
}







* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 16%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 80%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: lightblue;
  float: left;
  width: 0%;
  padding: 10px 15px;
  margin-top: 7px;
}

.photo_item{
	
}


@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
  
  
.photo_item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  min-width:100%;
  float:left;
}
  
  
  
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}